<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121978356-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-121978356-1');
  </script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Terry Wang",
    "email": "terrywang@tianyu.ninja",
    "image": "https://www.tianyu.ninja/pic/photo.jpg",
    "url": "https://www.tianyu.ninja",
    "sameAs": [
      "https://github.com/wtyanan",
      "https://www.linkedin.com/in/wtyanan"
    ]
  }
  </script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon settings -->
  <link rel="apple-touch-icon" sizes="180x180" href="pic/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="pic/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="pic/favicon-16x16.png">
  <link rel="manifest" href="pic/site.webmanifest">
  <link rel="mask-icon" href="pic/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="pic/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="pic/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

  <!-- main control CSS -->
  <script src="js/typed.min.js"></script>
  <script src="js/main.js"></script>

  <!-- SEO -->
  <title>Terry Wang</title>
  <meta name="Description" content="Terry Wang | Computer Science Student at the University of Waterloo | Passionate Coder | Full-Stack Developer | Software Developer | Mobile Developer">
  <meta name="Keywords" content="Personal Website, Terry Wang, Tianyu Wang, wtyanan, Terry (Tianyu) Wang">

</head>
<body class="text-ubuntu" data-spy="scroll" data-target="#header" data-offset="60">
  <nav id="header" class="navbar fixed-top navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#home">
        <img class="navbar-img mr-3" src="pic/logo.png" height="45" width="45" alt="Website Logo"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-2">
            <a class="nav-link" href="#home">HOME</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link" href="#about">ABOUT ME</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link" href="#experience">EXPERIENCE</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link" href="#project">PROJECT</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="home" class="home-wrapper">
    <div class="home-overlay">
      <div class="container d-flex justify-content-center align-items-center flex-column home">
        <div class="title-text">
          Hello World, I'm Terry Wang
        </div>
        <div class="typed-wrap">
          <span id="identity">&nbsp;</span>
        </div>
        <div id="arrow-down" class="arrow-down">
          <a href="#about">
            <img class="arrow-down-pic" src="pic/double-arrow-down.png" alt="Down"/>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="section-wrapper">
    <div class="container">
      <div class="section-title text-center">
        <h1>About me</h1>
        <div class="section-line"></div>
      </div>
      <div class="about-img">
        <img src="pic/photo.jpg" class="about-img-src img-fluid" alt="Personal Photo" />
      </div>
      <div class="about-content">
        <div class="row">
          <div class="col-12 text-center">
            <p style="color: #ffffff; font-weight: bold; font-size: 1.2rem;">Currently looking for Co-Op/Internship for Winter 2019 (Jan - Apr 2019)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <div class="col-3">
                <p style="color: #ffffff; font-weight: bold; font-size: 1.2rem;">SKILLS</p>
              </div>
              <div class="col-9"></div>
            </div>
            <div class="row">
              <div class="col-4">
                <p style="color: #ffffff;">LANGUAGES</p>
                <p style="color: #ffffff;">FRAMEWORKS</p>
                <p style="color: #ffffff;">DATABASE</p>
                <p style="color: #ffffff;">OPERATING SYSTEMS</p>
              </div>
              <div class="col-8">
                <p>C++, C, JavaScript, HTML, CSS, Scala, Swift</p>
                <p>Node.js, React, React Native, Bootstrap, jQuery</p>
                <p>MongoDB</p>
                <p>Windows, Mac OS, Linux</p>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <a href="/Resume_Terry_Wang.pdf?W1903" class="resume-button" title="View Resume">RESUME</a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <p>
              Hello World! I'm Terry Wang, a Computer Science Co-Op student at the University of Waterloo.
              I have endless passion in coding which keeps motivating me to learn new languages and skills.
              I like painting and playing piano as well.
            </p>
            <p>
              I'm currently learning iOS development and backend development. I describe myself as a:
            </p>
            <div class="text-wrapper">
              <p class="text-bullet">◉</p>
              <p>Easy-going | Earnest | Attentive | Honest Person</p>
            </div>
            <div class="text-wrapper">
              <p class="text-bullet">◉</p>
              <p>Passionate | Initiative | Creative | Self-learning | Hard-working Coder</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="gap" class="gap gap-1">
    <div class="mask"></div>
  </section>

  <section id="experience" class="section-wrapper">
    <div class="container">
      <div class="section-title text-center">
        <h1>Experience</h1>
        <div class="section-line"></div>
      </div>
      <div class="experience-content">
        <div class="row">
          {{#each experience}}
            <div class="col-md-6 col-sm-12">
              <a href="{{this.url}}" class="exp-logo d-flex justify-content-center align-items-center">
                <div class="exp-CMDI exp-img-wrapper d-flex justify-content-center align-items-center">
                  <img src="{{this.logoPath}}" class="img-fluid" title="{{this.logoTitle}}" alt="{{this.logoAlt}}"/>
                </div>
              </a>
              <div class="exp-position">
                {{this.position}}
              </div>
              <div class="exp-name">
                {{this.name}}
              </div>
              <div class="exp-date">
                {{this.date}}
              </div>
              <div class="exp-content">
                {{#each this.content}}
                  <div class="text-wrapper">
                    <p class="text-bullet">◉</p>
                    <p>{{this}}</p>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>

  <section id="gap" class="gap gap-2">
    <div class="mask"></div>
  </section>

  <section id="project" class="section-wrapper">
    <div class="container">
      <div class="section-title text-center">
        <h1>Project</h1>
        <div class="section-line"></div>
      </div>
      <div class="project-content">
        <div class="row">
          {{#each projects}}
            <div class="col-lg-4 col-sm-6 col-12">
              <div class="project-logo d-flex justify-content-center align-items-center">
                <a href="{{this.url}}" id="{{this.id}}" class="project-img-wrapper d-flex justify-cotent-center align-items-center">
                  <img src="{{this.logoPath}}" class="project-img" alt="{{this.logoAlt}}" title="View on GitHub" />
                </a>
              </div>
              <div class="project-name">
                {{this.name}}
              </div>
              <div class="project-content">
                {{#each this.content}}
                <div class="text-wrapper">
                  <p class="text-bullet">◉</p>
                  <p>{{this}}</p>
                </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact-wrapper">
    <div class="contact-overlay">
      <div class="container">
        <div class="section-title text-center">
          <h1>Contact</h1>
          <div class="section-line"></div>
        </div>
        <div class="contact-content">
          <div class="row">
            <div class="col-sm-4 col-xs-12 d-flex justify-content-center align-items-center">
              <a href="mailto:terrywang@tianyu.ninja" id="contact-email" class="contact-method" title="Send Email">
                <div class="contact-icon">
                  <i class="far fa-envelope"></i>
                </div>
                <div class="contact-name">Email</div>
              </a>
            </div>
            <div class="col-sm-4 col-xs-12 d-flex justify-content-center align-items-center">
              <a href="https://github.com/wtyanan" id="contact-github" class="contact-method" title="View GitHub">
                <div class="contact-icon">
                  <i class="fab fa-github"></i>
                </div>
                <div class="contact-name">GitHub</div>
              </a>
            </div>
            <div class="col-sm-4 col-xs-12 d-flex justify-content-center align-items-center">
              <a href="https://www.linkedin.com/in/wtyanan/" id="contact-linkedin" class="contact-method" title="View LinkedIn">
                <div class="contact-icon">
                  <i class="fab fa-linkedin"></i>
                </div>
                <div class="contact-name">LinkedIn</div>
              </a>
            </div>
          </div>
        </div>
        <form id="contact-form">
          <div id="contact-inputs">
            <div class="row">
              <div class="col-sm-6 col-xs-12 d-flex flex-column">
                <input id="name" type="text" name="name" placeholder="Your Name" required>
                <input id="email" type="email" name="email" placeholder="E-mail" required>
              </div>
              <div class="col-sm-6 col-xs-12 d-flex flex-column">
                <textarea id="msg" name="msg" placeholder="Write Your message here ..." required></textarea>
              </div>
            </div>
            <div style="text-align: center;"><button type="sumbit" class="submit-button">SEND MESSAGE</button></div>
          </div>
          <h3 id="contact-loading" style="display: none;">Sending...</h3>
          <h3 class="contact-thank">Thank you!</h3>
          <h3 class="contact-thank">Your message has been sent.</h3>
          <h3 class="contact-fail">Sorry, your message could not be delievered at this time.</h3>
          <h3 class="contact-fail">Please try again, thank you.</h3>
        </form>
      </div>

      <div class="footer d-flex flex-column justify-content-center align-items-center">
        <div class="footer-row">&copy; Copyright 2018</div>
        <div class="footer-row">All Right Reserved By Terry Wang</div>
      </div>

    </div>
  </section>

  <a href="#home" class="goto-top-button" style="display: none;">
    <img src="pic/double-arrow-down.png" class="goto-top-img" />
  </a>

</body>
</html>
